*.log
*.pdb
*.fasta
Coeliac*
choose_mutants*
868*
201*
alex*
ab_contact.txt
ANARCI.txt
.Rhistory
.RData
*.pyc
test_xing.py
.idea
6cqr*
test*
K_4*
A_4QOK_Mel5_EAA*
B_xxxx_a24b17_EAA*
C_3HG1_MEL5_ELA*
D_4JFF_a24b17_ELA*
E_2BNR_Nyeso_wt_comp*
E_ALT_2F54_Nyeso_wt_comp*
F_2F53_c49c50_TCR_a2_nyeso*
G_2P5E_c58c61_A2_nyeso*
H_2P5W_c58c62_A2_nyeso*
I_2PYE_c5c1_A2_nyeso*
J_1AO7_A6_a2tax*
K_4FTV_A6c134_A2tax*
L_5MEN_ILA1_A2_ILA*
M_4MNQ_a1b1_A2_ILA*
N_3QDG_DMF5_WT_A2_ELA*
O_4L3E_DMF5_HA_A2_ELA*
bruce_caller.sh
*.png

